{% extends 'base.html' %}

{% block pageheading %}
Menu Page
{% endblock %}

{% block main %}
    <div class="products">
        <div class="product-box">
            <div class="product-box-heading">
                <h2> Flat White </h2>
            </div>
            <div class="product-box-image">
                <img src=/static/images/flatwhite.jpg">
            </div>
            <div class="product-box-info">
                <p> A milky coffee often found in the antipodes. </p>
            </div>
        </div>
    </div>
{% endblock %}